/* CSS RESET */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
}

.container{
    height:90vh;
    display: flex;
    flex-direction:row;
    width: 99vw;
}
.menu-container{
    color: #a3a3a3;
    background-color: black;
    width: 20vw;
    height: 90vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding-left:20px;
    padding-top:20px;
}


.menu-container img{
    height: 30px;
    margin-bottom:30px;
}

.menu-container a{
    display:flex;
    align-items:center;
    text-decoration: none;
    color:#a3a3a3;
    gap:10px;
    font-size:14px;
}

.menu-container a:hover{
    border-left:3px solid greenyellow;
    color:white;
}

.menu-container a img{
    height: 20px;
    margin-bottom:10px;
    color: #a3a3a3
}

.menu-container h2{
    font-size:16px;
    color:white;
    margin-top:20px;

}
.add-playlist{
    margin-top:10px;
}

.add-playlist span{
    background-color: #a3a3a3;
    color:black;
    width: 35px;
    height: 35px;
    font-size:30px;
    text-align: center;
}

.playlist-list{
    display:flex;
    flex-direction:column-reverse;
    text-decoration: none;
    list-style: none;
    padding-top:5px;
    gap:2px;
}

.playlist-list li a{

    margin: 10px 0px;
}

.last-section a{
    display:flex;
    align-items:center;
    text-decoration: none;
    color: #a3a3a3;
    gap:10px;
    font-size:12px;
}

.last-section a:hover{
    color:white;
    border:none;
}

.last-section a img{
    height: 20px;
    margin:0;
    color:#a3a3a3;
}

.last-section hr{
    color:#a3a3a3;
    margin: 10px 20px 10px 0px;
}

#user{
    font-size: 16px;
    font-weight: 800;
    color:white;
    text-align: center;
}

#user img{
    background-color: #a3a3a3;
    height: 20px;
    width: 20px;
    border-radius:50%;
    margin-bottom: 10px;
}

/* Parte album centrale */



.music-container{
    background-color: #141821;
    height: 90vh;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    gap:10px;
    position:relative;
}

.call-to-action{
    width: 80%;
    background-color: rgb(20, 24, 33, 0.7);
    height:100px;
    padding:40px 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position:fixed;
    z-index: 200;
}

.call-to-action a{
    text-decoration: none;
    color:lightgrey;
    text-align: center;
    border:solid 1px white;
    padding:10px;
    border-radius:20px;
    font-size:12px;
    position:fixed;
}

.call-to-action:hover a{
    color:white;
}

.categories{
    padding-top:100px;
}

.categories ul{
    margin-top:40px;
    height: 20px;
    margin:10px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:15px;
    gap:10px;
    list-style-type: none;
}

.categories ul li a{
    text-decoration: none;
    color:#75787d;
}

.categories ul li a hr{
    display:none;
}

.categories ul li a:hover{
    color:white;
    border:none;
}
.categories ul li a:hover hr{
    display:block;
    border-radius:2px;
    border:2px solid greenyellow;
    width: 30%;
    margin: 0 auto;
    color:greenyellow;
}

.section-container{
    margin:0px 20px;
    padding-top:30px;
}

.section-title{
    color:white;
    font-size:20px;
    margin-bottom:20px;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    color:white;
    gap:20px;
}

.card{
    width:calc(( 100% / 6 ) - (100px / 6));
    text-align: center;
    position:relative;
}

.image-wrapper{
    position: relative;
    width: 100%;
}

.image-wrapper img {
  width: 100%;
  display: block;
  padding-bottom:10px;
}

.image-wrapper i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  z-index: 2;
}

.card h4{
    font-size:15px;
    padding-bottom:10px;
}


.card span{
    font-size:12px;
    color:lightgrey;
}

.section-container #sub-title{
    font-size:smaller;
    color:white;
    margin-bottom:20px;
}


.section-container.bottom  img{
    border-radius: 50%;
}


footer{
    background-color: rgb(41, 41, 41);
    position:fixed;
    z-index: 100;
    width: 99vw;
    height: 10vh;
}
.container-footer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-sx figure{
    display:flex;
    height: 73px;
    padding:10px;
    align-items: center;
    flex-direction:row;
}
.music-bottom{
    display:flex;
    align-items: center;
    flex-grow: 0;
}

figure img{
    height: 60px;
    padding:10px;
}

figcaption{
    color:white;
}

figcaption span{
    color:grey;
    font-size:10px;
}

.icon i{
    color:lightgrey;
    margin-left:10px;
}

.container-mid{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    flex-grow: 1;

}
.container-mid .icon{
    font-size:20px;
}

.progress-bar{
    display:flex;
    gap:10px;
    color:white;
    font-size:12px;
    font-weight: 700;
}
#file{
    color:green;
}

.container-dx{
    display:flex;
    padding:20px;
    gap:10px;
    flex-grow: 0;
}

.container-dx .icon{
    display:flex;
    flex-direction: row;
}
.icon:hover a{
    border:none;
}


.image-wrapper:hover i {
  display: block;
}
/* VERSIONI RESPONSIVE */

@media screen and (max-width: 878px){

    .container{
        height: 90vh;
    }

    .menu-container{
        width: 25vw;
    }

    .general-container{
        width: 75%;
    }

    .call-to-action{
        width: 70vw;
    }

    .card{
        width: calc(100% / 5);
        flex-wrap: wrap;
    }

    .categories ul{
        flex-wrap: wrap;

    }

}

@media screen and (max-width:693px) {
    .container{
        width: 100%;
    }

    .menu-container{
        width: 35vw;
        padding-left:5px
    }
    
    .menu-section{
        padding:10px;
    }

    .menu-section a{
        font-size:10px;
        gap:5px
    }

    .last-section{
        font-size:10px;
    }

    .card{
        width:calc( 43vh / 3 );
        margin:0 auto;
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;
        line-height: 1;
    }

    .categories ul{
        flex-wrap: wrap;
    }

    footer{
        width: 100vw;
    }

    .container-footer{
        align-items: center;
        justify-content: space-between;
        width:100%;
        height: auto;
        margin-top:15px;
        font-size:14px;
    }
    .container-sx{
        display:flex;
        flex-grow: 0;
    }
    .container-mid{
        flex-grow: 2;
        margin:0 10px;
    }
    .container-mid .icon{
        font-size: 14px;
    }
    #file_1{
        font-size:5px;
    }
    .container-dx{
        flex-grow:1;
    }

    .container-dx .icon{
        font-size: 14px;
    }
}

@media screen and(max-width:552){
    
}