/* CSS RESET */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
}

.container{
    height:90vh;
    display: flex;
    flex-direction:row;
    width: 100vw;
}
.menu-container{
    color: #a3a3a3;
    background-color: black;
    width: 20vw;
    height: 90vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding-left:20px;
    padding-top:20px;
}


.menu-container img{
    height: 30px;
    margin-bottom:30px;
}

.menu-container a{
    display:flex;
    align-items:center;
    text-decoration: none;
    color:#a3a3a3;
    gap:10px;
    font-size:14px;
}

a:hover{
    color:white;
}

.menu-container a img{
    height: 20px;
    margin-bottom:10px;
    color: #a3a3a3
}

.menu-container h2{
    font-size:16px;
    color:white;
    margin-top:20px;

}
.add-playlist{
    margin-top:10px;
}

.add-playlist span{
    background-color: #a3a3a3;
    color:black;
    width: 35px;
    height: 35px;
    font-size:30px;
    text-align: center;
}

.playlist-list{
    display:flex;
    flex-direction:column-reverse;
    text-decoration: none;
    list-style: none;
    padding-top:5px;
    gap:2px;
}

.playlist-list li a{

    margin: 10px 0px;
}

.last-section a{
    display:flex;
    align-items:center;
    text-decoration: none;
    color: #a3a3a3;
    gap:10px;
    font-size:12px;
}

.last-section a:hover{
    color:white;
}

.last-section a img{
    height: 20px;
    margin:0;
    color:#a3a3a3;
}

.last-section hr{
    color:#a3a3a3;
    margin: 10px 20px 10px 0px;
}

#user{
    font-size: 16px;
    font-weight: 800;
    color:white;
    text-align: center;
}

#user img{
    background-color: #a3a3a3;
    height: 20px;
    width: 20px;
    border-radius:50%;
    margin-bottom: 10px;
}

/* Parte album centrale */



.music-container{
    background-color: #141821;
    height: 90vh;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    gap:10px;
    position:relative;
}

.call-to-action{
    width: 85%;
    background-color: rgb(20, 24, 33, 0.7);
    height:100px;
    padding:40px 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position:fixed;
    z-index: 200;
}

.call-to-action a{
    text-decoration: none;
    color:lightgrey;
    text-align: center;
    border:solid 1px white;
    padding:10px;
    border-radius:20px;
    font-size:12px;
    position:fixed;
}

.call-to-action:hover a{
    color:white;
}

.categories{
    padding-top:100px;
}

.categories ul{
    margin-top:40px;
    height: 20px;
    margin:10px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size:15px;
    gap:10px;
    list-style-type: none;
}

.categories ul li a{
    text-decoration: none;
    color:#75787d;
}

.categories ul li a hr{
    display:none;
}

.categories ul li a:hover{
    color:white;
}
.categories ul li a:hover hr{
    display:block;
    border-radius:2px;
    border:2px solid greenyellow;
    width: 30%;
    margin: 0 auto;
    color:greenyellow;
}

.section-container{
    margin:0px 20px;
    padding-top:30px;
}

.section-title{
    color:white;
    font-size:20px;
    margin-bottom:20px;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    color:white;
    gap:20px;
}

.card , .card_suggest{
    width:calc(( 100% / 6 ) - (100px / 6));
    text-align: center;
    position:relative;
}
.card img, .card_suggest img{
    width:100%;
    padding-bottom:10px;

}

.card h4, .card_suggest h4{
    font-size:15px;
    padding-bottom:10px;
}

.card i{
    display:none;
    position:absolute;
    font-size:100px;
    text-align: center;
    bottom:100px;
}

.card:hover i , .card_suggest:hover i{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#080b1275;
    background-size:cover;
    height:196px;
    width:196px;
    text-align:center
}

.card span, .card_suggest span{
    font-size:12px;
    color:lightgrey;
}

.section-container #sub-title{
    font-size:smaller;
    color:white;
}

.section-container .card_suggest{
    margin-top:40px;
}


.card_suggest i{
    display:none;
    position:absolute;
    font-size:100px;
    text-align: center;
    bottom:100px;
}

.card_suggest:hover i{
    transform: translateY(60px);
}

.section-container.bottom  img{
    border-radius: 50%;
}

.section-container.bottom .card_suggest:hover i{
    border-radius: 50%;
}

footer{
    display:fixed;
    width: 100vw;
    height: 10vh;
    background-color: rgb(41, 41, 41);
    z-index: 100;
}
footer figure{
    display:flex;
    align-items: center;
}

figcaption{
    color:lightgrey;
}

figcaption:hover {
    color:white;
}

footer figure figcaption h6{
    font-size:12px;

}
figcaption span {
    font-size: 10px;
}

footer figure img{
    width: 4%;
    padding:10px;
}